<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="SportsFacilities" type="persistence.dto.SportsFacilitiesDTO"></typeAlias>
        <typeAlias alias="Member" type="persistence.dto.MemberDTO"></typeAlias>
        <typeAlias alias="LocalInfo" type="persistence.dto.LocalInfoDTO"></typeAlias>
        <typeAlias alias="InterestingSports" type="persistence.dto.InterestingSportsDTO"></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://202.31.202.172:80/changP?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/>
                <property name="username" value="dba"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="resources/mapper/SportsFacilitiesDTOMapper.xml"/>
        <mapper resource="resources/mapper/MemberDTOMapper.xml"/>
        <mapper resource="resources/mapper/LocalInfoDTOMapper.xml"/>
        <mapper resource="resources/mapper/InterestingSportsDTOMapper.xml"/>
    </mappers>
</configuration>