<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GroupMapper">

    <!--
    resultMap
        Mysql <-> Java 간의 column(db)과 property(java)를 mapping 해줌 / select 쿼리에 사용됨 / 서로의 네이밍이 다르거나, 데이터 타입이 다른 경우에 사용됨
        id = 해당 resultMap을 식별하기 위한 id
        type = java에 담길 DTO

        result
            column에는 db의 컬럼명을, property에는 DTO의 속성명을 작성 (1:1 매칭)
    -->

    <resultMap id="GroupResultmap" type="Group">
        <result column="그룹인덱스" property="groupIndex"/>
        <result column="그룹명" property="groupName"/>
        <result column="그룹장(닉네임)" property="groupLeader"/>
        <result column="종목" property="sports"/>
        <result column="채팅방_채팅방인덱스" property="chatRoomNumber"/>
        <result column="지역정보_지역정보인덱스" property="localInfoIndex"/>
    </resultMap>

    <select id="selectAll" resultMap="GroupResultmap">
        SELECT * FROM `그룹`;
    </select>

    <select id="selectOne" resultMap="GroupResultmap">
        SELECT * FROM `그룹` WHERE `그룹인덱스` = #{groupIndex};
    </select>


    <insert id="insertOne" parameterType="Group">
        INSERT INTO `그룹`(
        `그룹명`,
        `그룹장(닉네임)`,
        `종목`,
        `채팅방_채팅방번호`,
        `지역정보_지역정보인덱스`)
        VALUES (
        #{groupName},
        #{groupLeader},
        #{sports},
        #{chatRoomNumber},
        #{localInfoIndex});
    </insert>

    <update id="updateOne" parameterType="Group">
        UPDATE `그룹` SET
        `그룹명` = #{groupName},
        `그룹장(닉네임)` = #{groupLeader},
        `종목` = #{sports},
        `채팅방_채팅방번호` = #{chatRoomNumber},
        `지역정보_지역정보인덱스` = #{localInfoIndex}
        WHERE
        `그룹인덱스` = #{groupIndex};
    </update>

    <delete id="deleteOne" parameterType="Group">
        DELETE FROM `그룹` WHERE `그룹인덱스` = #{groupIndex};
    </delete>

</mapper>