<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GroupMapper">

    <resultMap id="GroupResultmap" type="Group">
        <result column="그룹인덱스" property="groupIndex"/>
        <result column="그룹명" property="groupName"/>
        <result column="그룹장(닉네임)" property="groupLeader"/>
        <result column="종목" property="sports"/>
        <result column="그룹인원" property="groupHeadCount"/>
        <result column="채팅방_채팅방인덱스" property="chatRoomNumber"/>
        <result column="지역정보_지역정보인덱스" property="localInfoIndex"/>
    </resultMap>

    <select id="selectAll" resultMap="GroupResultmap">
        SELECT * FROM `그룹`;
    </select>

    <select id="selectOne" resultMap="GroupResultmap">
        SELECT * FROM `그룹` WHERE `그룹인덱스` = #{groupIndex};
    </select>

    <select id="selectOneByName" resultMap="GroupResultmap">
        SELECT * FROM `그룹` WHERE `그룹명` = #{groupName};
    </select>

    <insert id="insertOne" parameterType="Group">
        INSERT INTO `그룹`(
        `그룹명`,
        `그룹장(닉네임)`,
        `종목`,
        `채팅방_채팅방번호`,
        `지역정보_지역정보인덱스`)
        VALUES (
        #{groupName},
        #{groupLeader},
        #{sports},
        #{chatRoomNumber},
        #{localInfoIndex});
    </insert>

    <update id="updateOne" parameterType="Group">
        UPDATE `그룹` SET
        `그룹명` = #{groupName},
        `그룹장(닉네임)` = #{groupLeader},
        `종목` = #{sports},
        `채팅방_채팅방번호` = #{chatRoomNumber},
        `지역정보_지역정보인덱스` = #{localInfoIndex}
        WHERE
        `그룹인덱스` = #{groupIndex};
    </update>

    <delete id="deleteOne" parameterType="Group">
        DELETE FROM `그룹` WHERE `그룹인덱스` = #{groupIndex};
    </delete>

</mapper>